.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotate(10deg);
  }
  100% {
    transform: perspective(1000px) rotateX(360deg) rotate(10deg);
  }
}
.container .box span {
  position: absolute;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0 10px;
  background: linear-gradient(90deg, transparent, rgba(0,0,0,0.5), transparent);
  line-height: 0.76rem;
  transform-style: preserve-3d;
  text-shadow: 0 5px 15px rgba(0.0.0.25);
  transform: rotateX(calc(var(--i) * 20deg)) translateZ(70px);
}

.container .box span i:nth-child(1) {
  font-style: initial;
  color: var(--primary-color);
}
.container .box span i:nth-child(2) {
  font-style: initial;
  color: #ff246f;
}