.my-control {
  box-shadow: 0px 5px 10px #e9d5ff;
  position: relative;
}

.my-control::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #e9d5ff;
  opacity: 1;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@keyframes pulse {
  0% {
    width: 50%;
    height: 100%;
  }
  20% {
    opacity: 20%;
  }
  100% {
    width: 800%;
    height: 2500%;
    opacity: 0%;
  }
}
