.my-control { 
  box-shadow: 0px 5px 10px var(--animation-color);
  position: relative;
}

.magic-control::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--animation-color);
  opacity: 1;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  animation: pulse 1s ease-out;
}

@keyframes pulse {
  0% {
    width: 50%;
    height: 100%;
  }
  20% {
    opacity: 40%;
  }
  100% {
    width: 800%;
    height: 2200%;
    opacity: 0%;
  }
}