.my-control { 
  box-shadow: 0px 5px 10px var(--primary-color);
  position: relative;
}

.my-control a {
  z-index: 100;
}

.my-control a:hover {
  color: var(--primary-color);
}

.my-control::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--primary-color);
  opacity: 1;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.my-control:hover::before {
  animation: pulse 1s ease-out;
}

@keyframes pulse {
  0% {
    width: 50%;
    height: 100%;
  }
  20% {
    opacity: 40%;
  }
  100% {
    width: 800%;
    height: 2500%;
    opacity: 0%;
  }
}
